
header{
  background-image: url(../img/IMG_9474.JPG);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  background-size: cover;
  text-align: center;
  color: #fff;
  background-color: #000;
  min-height: 100vh;
  box-sizing: border-box;
}
.op{
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100vw;
  height: 100vh;  
  min-height:785px;
  background-image: url(../img/overaly.png);  
  background-repeat: repeat;
}
<<<<<<< HEAD
@media  (max-width: 768px){
  .row_i{
    display: flex;
  }
  .statement{
    display: block;
    align-items: center;
    padding: 0 ; 
  }
  .navbar_row_2{
    display: none;
  }
  .row_navbar_1 .navbar_container{
    padding: 0 ;
    display: flex;
    transition: 0.4s ease;
  
  }
  #csie{
    width:0% ;
    height:atuo;
    min-width: 176px;
  }
  .handle1{
    display: block;
  }
  .footer1{
    display: none;
    }
    .footer2{
      display: flex;
    }


    .icon a{
      margin-left: 0px;

    }
 
}
  @media screen and (max-width: 551px) {
    header{
      min-height: 300px;
  } 
    .op{
      min-height: 300px;
      height: 300px;
    }
  }
  @media screen and (max-width: 445px) {
    header{
      min-height: 270px;
  } 
    .op{
      min-height: 270px;
      height: 270px;
    }
  }
  @media  (max-width: 364px){
    header{
        min-width: 363px;
    } 
    footer{
      min-width: 363px;
  } 
    .op{
      min-width: 363px;
    }
    nav ul{
      min-width: 363px;
  }

  }
  .row_navbar_1{
    z-index: 10;
  }
/* 頁面頂端透明導覽列 */
  .row_nav_1{
    z-index: 19;
  }
/* 有底色的導覽列 */
  .row_nav_2{
    z-index: 19;
  }
  /* 手機板漢堡按鍵 */
  .handle1{
    z-index: 20;
  }
  /* ------------------------------------------------------------------- */
 
=======
  /* ------------------------------------------------------------------- */
  .news {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 5000px;
  }
  #new1 {
    font-size: 70px;
    color: #00c3ff;
    text-shadow: 3px 3px 3px rgba(0,0,0,.5);
    font-weight: 400;
  }
  #new2 {
    padding: 15px;
    font-size: 40px;
    color: #202020;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    font-weight: 600;
  }
>>>>>>> 9ff4784f98733c98da644f39e817ab543ab8d353
