
 body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei", "Microsoft Jhenghei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
}
header{
  background-image: url(../img/QQAA.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  background-size: cover;
  text-align: center;
  color: #fff;
  background-color: #000;
  min-height: 100vh;
  box-sizing: border-box;
}
<<<<<<< HEAD
@media  (max-width: 1250px){
    header{
       background-position: center 50px;
       min-height: 800px;
    }
   .op{
     min-height:800px;
     height:800px;
 
   }
   .navbar_a{
     display: none;
   }
   .statement{
     display: flex;
     align-items: center;
     padding: 0 ; 
   }
   .row_navbar_1 .navbar_container{
     padding: 0 ;
     display: flex;
     transition: 0.4s ease;
   } nav ul li{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
  }
  .handle{
    display: block;
  }
=======
>>>>>>> 7294892933f7127fe9ed65b3e966cf22b726f56c
/* header */
.row_navbar_1 {
    
  z-index: 20;

}

.row_nav_2{

  z-index: 19;

}
.handle1{
  z-index: 20;
}
.row_nav_1{
    
  z-index: 20;

}
.row_nav_2{
  
  z-index: 20;

}
@media  (max-width: 1250px){
  header{
     background-position: center 50px;
     min-height: 800px;
  }
 .op{
   min-height:800px;
   height:800px;

 }
 .navbar_a{
   display: none;
 }
 .statement{
   display: flex;
   align-items: center;
   padding: 0 ; 
 }
 .row_navbar_1 .navbar_container{
   padding: 0 ;
   display: flex;
   transition: 0.4s ease;
 } nav ul li{
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
}
.handle{
  display: block;
}
<<<<<<< HEAD

=======
>>>>>>> 7294892933f7127fe9ed65b3e966cf22b726f56c

} 

@media (max-width: 992px) { 
<<<<<<< HEAD
  .statement{
    display: flex;
    align-items: center;
    padding: 0 ; 
  }
  .row_navbar_1 .navbar_container{
    padding: 0 ;
    display: flex;
    transition: 0.4s ease;
  }
  #csie{
    width:0% ;
    height:atuo;
    min-width: 176px;
  }

}
@media  (max-width: 768px){
  .row_i{
    display: flex;
  }
  .statement{
    display: block;
    align-items: center;
    padding: 0 ; 
  }
  .navbar_row_2{
    display: none;
  }
  .row_navbar_1 .navbar_container{
    padding: 0 ;
    display: flex;
    transition: 0.4s ease;
  
  }
  #csie{
    width:0% ;
    height:atuo;
    min-width: 176px;
  }
  .handle1{
    display: block;
  }
  .footer1{
    display: none;
    }
    .footer2{
      display: flex;
    }


    .icon a{
      margin-left: 0px;

    }
 
}
  @media screen and (max-width: 551px) {
    header{
      min-height: 300px;
  } 
    .op{
      min-height: 300px;
      height: 300px;
    }
  }
  @media screen and (max-width: 445px) {
    header{
      min-height: 270px;
  } 
    .op{
      min-height: 270px;
      height: 270px;
    }
  }
  @media  (max-width: 364px){
    header{
        min-width: 363px;
    } 
    footer{
      min-width: 363px;
  } 
    .op{
      min-width: 363px;
    }
    nav ul{
      min-width: 363px;
  }

  }
  .row_navbar_1{
    z-index: 10;
  }
/* 頁面頂端透明導覽列 */
  .row_nav_1{
    z-index: 20;
  }
/* 有底色的導覽列 */
  .row_nav_2{
    z-index: 19;
  }
  /* 手機板漢堡按鍵 */
  .handle1{
    z-index: 20;
  }
  /* ------------------------------------------------------------------- */
 
=======
>>>>>>> 7294892933f7127fe9ed65b3e966cf22b726f56c
.statement{
  display: flex;
  align-items: center;
  padding: 0 ; 
}
.row_navbar_1 .navbar_container{
  padding: 0 ;
  display: flex;
  transition: 0.4s ease;
}
#csie{
  width:0% ;
  height:atuo;
  min-width: 176px;
}

}
@media  (max-width: 768px){
.row_i{
  display: flex;
}
.statement{
  display: block;
  align-items: center;
  padding: 0 ; 
}
.navbar_row_2{
  display: none;
}
.row_navbar_1 .navbar_container{
  padding: 0 ;
  display: flex;
  transition: 0.4s ease;

}
#csie{
  width:0% ;
  height:atuo;
  min-width: 176px;
}
.handle1{
  display: block;
}
.footer1{
  display: none;
  }
  .footer2{
    display: flex;
  }


  .icon a{
    margin-left: 0px;

  }

}
@media screen and (max-width: 551px) {
  header{
    min-height: 300px;
} 
  .op{
    min-height: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 445px) {
  header{
    min-height: 270px;
} 
  .op{
    min-height: 270px;
    height: 270px;
  }
}
@media  (max-width: 364px){
  header{
      min-width: 363px;
  } 
  footer{
    min-width: 363px;
} 
  .op{
    min-width: 363px;
  }
  nav ul{
    min-width: 363px;
}

}
@import url(//fonts.googleapis.com/css?family=Lato:400,900);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.info-card {
  float: left;
	-webkit-perspective: 600px;
}

.front, .back {
	background: #FFF;
	border-radius: 10px;
	transition: -webkit-transform 1s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}

.front {
	overflow: hidden;
	width: 250px;
	height: 330px;
	position: absolute;
	z-index: 1;
}

.back {
	width: 250px;
	height: 330px;
	-webkit-transform: rotateY(-180deg);
}

.info-card:hover .back {
	-webkit-transform: rotateY(0);
}

.info-card:hover .front {
	-webkit-transform: rotateY(180deg);
}

.card-image {
width: 100%;
height: 100%;
}

.bg-primary {
    background-color: #18BC9C !important;
}
.text-family{
    font-family: '微軟正黑體';
}
.aboutDrom{
    padding-top:2%;
}
.text-content p{
    padding-left:10%;
    font-size: 120%;
}
.aboutTraffic{
    padding-top:2%;
    color: #2c3e50;
}
hr.star-light,
hr.star-dark {
  max-width: 30rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18BC9C;
}
hr.star-dark {
    border-color: #2C3E50;
}

hr.star-dark:after {
    color: #2C3E50;
    background-color: white;
}

.introduce{
    margin-top:10%;
    margin-left: 40%;
}
.introduce-text{
  margin-top:5%;
  margin-left:10%;
  text-align: center;
}

.trrafic-title{
  text-align: center;
}
.trrafic-title button{
  font-size: 120%;
}
.trrafic-text{
  text-align: center;
  font-size: 110%;
}
.traffic-contain{
  padding-bottom: 8%;
}
.deparmentIcon{
  padding:5% 0%;
}